* {
	box-sizing: border-box;
}


body {
	background: #ccc;
	font-family: 'Catamaran', sans-serif;
	margin: 0;
}


@media screen and  (min-width: 375px){

	nav{
		position: absolute;
	    width: 90%;
	    margin: 0 auto;
	    margin-top: 5%;
	    display: flex;
	    justify-content: space-around;
	    align-items: center;
			.hamburger{
				width: 40px;
				display: flex;
				align-items: center;
				
				img{
					width: 100%;
				}
		}

		.logo{
		    width: 57%;
		    display: flex;
		    align-items: center;

		    img{
		    	width: 100%;
		    }
		}
	}
	.animals-container{
		display: flex;
	    width: 400%;
		.direhorse-bg-container,
		.mountain-banshee-bg-container,
		.thanator-bg-container,
		.hexapede-bg-container{
			width: 100vw;
			background-image: url(../../src/img/direhorse/horseBackground.png);
			background-size: cover;
			background-repeat: no-repeat;
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;



		    .text-container{
	    	    width: 88%;
			    margin: 0 auto;
			    margin-top: 10%;
			    margin-bottom: 10%;
			    padding-top: 5%;
			    text-align: justify;
		    	color: RGB(189, 251, 255);
		    	background-color: RGBA(91,91,98,0.85);
		    	line-height: 1.2;

		    	p{
		    		width: 90%;
		    		margin: 0 auto;
		    	}

		    	.section-title{
		    		width: 80%;
		    		margin: 0 auto;
		    		margin-bottom: 5%;
		    		
		    		img{
		    			width: 100%;
		    		}
		    	}

			    	.animal-image{
		    		    width: 66%;
					    margin: 0 auto;

			    	img{
				    	width: 100%;
			    	}
			    }

			    .page-indicators{
					display: flex;
					width: 40%;
					margin: 0 auto;
					justify-content: space-between;
					margin-bottom: 5%;
				.dot{
					width: 15px;
					height: 15px;
					background-color: RGB(44,60,65);
					border-radius: 50%;

				}
			}
		}
	}


		.mountain-banshee-bg-container{
			background-image: url(../../src/img/banshee/bansheeBackground.png);

			nav{
				position: relative;
				top: 0;
			    width: 90%;
			    margin: 0 auto;
			    margin-top: 5%;
			    display: flex;
			    justify-content: space-around;
			    align-items: center;
			.hamburger{
				width: 40px;
				display: flex;
				align-items: center;
				
				img{
					width: 100%;
				}
			}
		}
			.text-container{
				color: RGB(240,238,255);
				background-color: RGBA(59,103,166,0.85);
			}
		}

		.thanator-bg-container{
			background-image: url(../../src/img/thanator/thanaBackground.png);

			nav{
				position: absolute;
				top: 0;
			    width: 90%;
			    margin: 0 auto;
			    margin-top: 5%;
			    display: flex;
			    justify-content: space-around;
			    align-items: center;
			.hamburger{
				width: 40px;
				display: flex;
				align-items: center;
				
				img{
					width: 100%;
				}
			}
		}



			.text-container{
				color: RGB(240,238,255);
				background-color: RGBA(10,77,153,0.85);
			}
		}

		.hexapede-bg-container{
			background-image: url(../../src/img/hexapede/hexaBackground.png);


			nav{
				position: relative;
				top: 0;
			    width: 90%;
			    margin: 0 auto;
			    margin-top: 5%;
			    display: flex;
			    justify-content: space-around;
			    align-items: center;
			.hamburger{
				width: 40px;
				display: flex;
				align-items: center;
				
				img{
					width: 100%;
				}
			}
		}

			.text-container{
				color: RGB(240,238,255);
				background-color: RGBA(26,26,106,0.85);
			}
		}
	}
}


@media screen and  (min-width: 768px){
	.animals-container{
		.direhorse-bg-container{
			background-image: url(../../src/img/dire-background-desktop.png);
		    

		    .text-container{
		    	display: flex;
		    flex-wrap: wrap;
		    flex-direction: row-reverse;
		    	p{
		    	width: 30%;
		    }

		    .animal-image{
		    	width: 25%;
		    }
		    }

		    
		}
	}
}
