/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';
@import 'forest.scss';
@import 'plants.scss';
@import 'slick-theme.scss';
@import 'slick.scss';
@import 'animals.scss';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}


	body{
		background-image: url(../../src/img/mobile-hero-background.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 100vh;
		margin: 0;
		font-family: 'Catamaran', sans-serif;

	}
	.mobile-hero-text{
	    position: absolute;
	    width: 100%;
	    bottom: 15%;
	

		.avatar-logo{
		    width: 60%;
		    position: relative;
		    left: 0;
		    padding-bottom: 16%;
		    margin: 0 auto;
			background-image: url(../../src/img/avatar-logo.png);
			background-size: contain;
			margin-bottom: 5%;
			background-repeat: no-repeat;

		}

		.enter-pandora{
			width: 62%;
			position: absolute;
			left: 18vw;
			margin: 0 auto;
			background-image: url(../../src/img/enter-pandora.png);
			padding-bottom: 10%;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.face-dots-1{
	    width: 69%;
	    position: absolute;
	    left: 25%;
	    top: 5vh;
	    opacity: 0;

	    img{
	    	width: 100%;
	    }
	}

	.face-dots-2{
	    width: 69%;
	    position: absolute;
        left: 40%;
	    top: 15vh;
	    opacity: 0;

	    img{
	    	width: 100%;
	    }
	}
@media screen and  (min-width: 768px){
	body{
		background-image: url(../../src/img/desktop-hero-background.png);
		background-position-x: -25vw;
		background-size: cover;
		background-repeat: repeat;
	}
	.mobile-hero-text {
		bottom: 45%;
		.avatar-logo{
			width: 20%;
			max-width: 450px;
			margin: 0;
			padding-bottom: 70px;
			left: 5%;
		}
		.enter-pandora{
					width: 32%;
					left: 5vw;
					max-width: 400px;
				}
	}
}

@media screen and  (min-width: 1024px){
	body{
		background-image: url(../../src/img/desktop-hero-background.png);

		.mobile-hero-text{
			.avatar-logo{
			    width: 30%;
			    max-width: 540px;
			    margin: 0;
			    padding-bottom: 110px;
			    left: 10%;
			}

			.enter-pandora{
				left: 11%;
			}
		}
	}
}

@media screen and  (min-width: 1366px){
	body{
		background-position-x: 5vw;


	}
}

